/- kdl-version 2

surface "0.1"

application "surfaceFaq" {
    purpose "Answer common questions about Surface."
}

screen "faq" {
    section "What is Surface?" {
        text """Multiline text must start on the next line."""
    }
}
