/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
collection "contact" { (string)"id" }
function "contactById" {
    output (collection)"contact"
    logic { "Return a contact" }
    logic { "Return a contact" }
}
screen "contact" { context "Render a contact." }
