/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
entity "contact" {
    (string)"id"
    (string)"id"
}
screen "contact" {
    context "Render a contact."
}
