/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
collection "contact" {
    (string)"id" optional optional
}
screen "contact" {
    context "Render a contact."
}
