/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
entity "contact" {
    field "id" type="string" generated=#true
}
screen "contact" {
    section "Contact" { text "Display a contact." }
}
