/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
entity "contact" {
    (string)"id"
}
function "contactById" {
    entity "contactLookup" { (string)"id" }
    input (entity)"contactLookup"
    returns (entity)"contact"
}
interface "contactViewer" { context "Render a contact." }
screen "contact" function="contactById" { use (interface)"contactViewer" }
