/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
entity "contact" {
    (string)"id"
}
query "contactById" {
    entity "contactLookup" { (string)"id" }
    input (entity)"contactLookup"
    returns "contact"
}
screen "contact" {
    context "Render a contact."
}
