/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
entity "contact" {
    (string)"id"
}
query "contactById" {
    entity "contact" {
        (string)"id"
    }
    input (entity)"contact"
    returns (entity)"contact" missing=#null
}
screen "contact" {
    section "Contact" { text "Display a contact." }
}
