/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
collection "contact" {
    (string)"id"
}
function "contactById" {
    collection "contact" {
        (string)"id"
    }
    input (collection)"contact"
    output (collection)"contact"
}
screen "contact" {
    context "Render a contact."
}
