/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
function "contactById" {
    output (collection)"missingContact"
}
screen "contact" {
    context "Render a contact."
}
