/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
collection "contact" {
    (string)"id"
}
function "contactById" {
    input (collection)"missingLookup"
    output (collection)"contact"
}
screen "contact" {
    context "Render a contact."
}
