/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
query "contactById" by="id" {
    input "id" type="string"
    returns (entity)"missingContact" missing=#null
}
screen "contact" {
    section "Contact" { text "Display a contact." }
}
