/- kdl-version 2

surface "0.1"
application "contactViewer" { purpose "Display a contact." }
collection "contact" {
    (string)"id"
}
function "contactById" {
    collection "contactLookup" { (string)"id" }
    input (collection)"contactLookup"
    output (collection)"contact"
}
screen "contact" {
    use (collection)"contact"
}
