/- kdl-version 2

surface "0.1"

application "helloWorld" version="0.1.0" {
    purpose "Display a greeting."
}

interface "helloWorld" { context "Render a greeting." }
screen "home" route="/" { use (interface)"helloWorld" }
