/- kdl-version 2

surface "0.1"

application "helloWorld" version="0.1.0" {
    purpose "Display a greeting."
}

screen "home" route="/" {
    section "Home" {
        title "My app"
        paragraph "Hello, world!"
    }
}
