/- kdl-version 2

surface "0.1"

// The first Surface application.
application "helloWorld" {
    purpose "Display a greeting."
}

interface "helloWorld" {
    context "Render a user interface with the title My app and the exact text: Hello, world!"
}

screen "home" route="/" {
    use (interface)"helloWorld"
}
