/- kdl-version 2

surface "0.1"

// The first Surface application.
application "helloWorld" {
    purpose "Display a greeting."
}

screen "home" title="Home" route="/" {
    section "Hello, world!"
}
